body{
background:#0a0a0a;
color:white;
font-family:Arial;
margin:0;
}

.dj{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
}

.deck,.mixer{
background:#1a1a1a;
padding:20px;
border-radius:20px;
box-shadow:0 0 20px black;
}

.deck{
width:380px;
}

.mixer{
width:250px;
}

.wave{
height:50px;
background:
repeating-linear-gradient(
90deg,
cyan,
cyan 3px,
transparent 3px,
transparent 8px
);
border-radius:10px;
margin-bottom:20px;
}

.jog{
width:250px;
height:250px;
border-radius:50%;
background:
radial-gradient(circle,#444,#111);
border:10px solid #666;
margin:auto;
animation:spin 6s linear infinite;
animation-play-state:paused;
}

@keyframes spin{
from{
transform:rotate(0deg);
}
to{
transform:rotate(360deg);
}
}

button{
padding:10px;
margin:5px;
background:#333;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}

input[type=range]{
width:100%;
}
